@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
    overflow: hidden;
    background: #3FAF82;
    color: #333;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.hamburger-menu {
    width: 80px;
    height: 8px;
    cursor: pointer;
    z-index: 50;
}

.hamburger-menu:hover .hamburger-line1,
.hamburger-menu:hover .hamburger-line2,
.hamburger-menu:hover .hamburger-line3 {
    background-color: #fff;
}

.hamburger-line1,
.hamburger-line2,
.hamburger-line3
{
    height: 8px;
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);
    transition: background-color .2s ease-in-out;
    margin-top: -24px;
}

.hamburger-line1 {
    animation: animate-line-1-rev .7s ease-in-out;
}

.hamburger-line2 {
    animation: animate-line-2-rev .7s ease-in-out;
}

.hamburger-line3 {
    animation: animate-line-3-rev .7s ease-in-out;
}

.no-animation {
    -webkit-animation: none !important;
    animation: none !important;
}

.mt-16 {
    margin-top: 16px;
}
